{% extends 'base.html' %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.4.0/css/fixedHeader.dataTables.min.css">
{% endblock %}

{% block title %}
    Top 250 Filers by AUM
{% endblock %}

{% block content %}

    <div style="display: flex; justify-content: space-around;">
        <div id="holdings-pie-chart" style="width: 600px; height: 400px; margin-bottom: 30px;"></div>
        <div id="comparison-pie-chart" style="width: 600px; height: 400px; margin-bottom: 30px;"></div>
    </div>
    <h2>Top 250 Filers by AUM</h2>
    <table id="filersAumTable" class="table table-striped table-hover">
        <thead class="table-dark">
        <tr>
            <th>Filer Name</th>
            <th>Holdings Count</th>
            <th>Holdings Valuee</th>
            <th>Most recent filing</th>
        </tr>
        </thead>
        <tbody>
        {% for filer in filers %}
        <tr>
            <td>
                <a href="{{ filer_url(filer[0], filer[1]) }}">
                    {{ filer[1] | replace('_', ' ') }}
                </a>
            </td>
            <td>{{ filer[2] }}</td>
            <td>{{ filer[3] | format_large_number }}</td>
            <td><a href="{{ url_for('main.holdings', accession_nr=filer[4]) }}">Q{{ filer[6] }} {{ filer[5] }}</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}


{% block scripts %}
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.4.0/js/dataTables.fixedHeader.min.js"></script>
    <script src="{{ url_for('static', filename='js/format-num-utils.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index-utils.js') }}"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        var config = {
            displaylogo: false,  // This removes the Plotly logo from the modebar
            modeBarButtonsToRemove: ['toImage', 'resetScale2d']
        };
        var plotly_data = {{ graphJSON_top10 | safe }};
        var plotly_comparison_data = {{ graphJSON_comparison | safe }};
        Plotly.newPlot('holdings-pie-chart', plotly_data.data, plotly_data.layout, config);
        Plotly.newPlot('comparison-pie-chart', plotly_comparison_data.data, plotly_comparison_data.layout, config);
    </script>
{% endblock %}